

.header {
  background-color: #59aef3;
  color: white;
}

.header__upper {
  display: flex;
  justify-content: space-between;
}

.header__upper__text {
  display: flex;
  padding-left: 5%;
  padding-top: 3%;
}

.header__upper__title {
  font-size: 30px;
}

.header__upper__type {
  display: flex;
  padding-left: 3%;
  margin-top: 10px;
}

.fas.fa-bell {
  padding-top: 3%;
  padding-right: 5%;
}

.header__upper__type__left {
  padding-left: 15%;
}

.header__upper__type__middle {
  padding-left: 15%;
}

.header__upper__type__right {
  padding-left: 15%;
}

.header__middle {
  padding-left: 5%;
  padding-top: 3%;
  font-size: 30px;
}

.header__lower {
  display: flex;
  padding-top: 3%;
  padding-left: 5%;
}

.header__lower__middle {
  padding-left: 3%;
}

.header__lower__right {
  padding-left: 3%;
}

.main {
  display: flex;
  padding-top: 3%;
  padding-left: 5%;
}

.main-left__search-container {
  padding-bottom: 3%;
}

.main-left__text {
  background-color: #59aef3;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.main-left__text__text {
  padding: 5px 10px;
}

.main-right {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(245, 243, 243);
}

.main-right__type {
  display: flex;
  color: gray;
  margin: 15px;
}

.main-right__type__left {
  margin: 5px;
}

.main-right__type__middle {
  padding-left: 20%;
  padding-right: 20%;
  margin: 5px;
}

.main-right__type__right {
  
  border-radius: 15px;
  background-color: #59aef3;
  color: white;
}

.main-right__type__right__text {
  padding: 5px 8px;
}


.main-right__box {
  padding-top: 5%;
  background-color: white;
  font-size: 13px;
  text-align: center;
  
}

.main-right__box__table {
  margin: 10px;
}

.main-right__box__table__thead {
  background-color: rgb(148, 221, 243);
  color: rgb(25, 162, 241);
}

.main-right__box__table__content {
  border: 1px solid #adacac;
  color: #adacac;
}

.main-right__box__table__content__postTitle {
  color: black;
  text-decoration: underline;
}

table th {
  padding: 20px;
}

table td {
  border-right: 1px solid #adacac;
  padding: 20px;
  line-height: 15px;
}

.td-secondrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #adacac;
}

.td-secondrow__status {
  display: flex;
}

.td-secondrow__status__left {
  color: rgb(12, 145, 235);
  border: 1px solid rgb(12, 145, 235);
  border-radius: 5px;
  padding: 3px;
  margin-left: 10px;
}

.td-secondrow__status__middle {
  color: rgb(12, 145, 235);
  border: 1px solid rgb(12, 145, 235);
  border-radius: 5px;
  padding: 3px;
  margin-left: 10px;
}

.td-secondrow__status__right {
  color: rgb(12, 145, 235);
  border: 1px solid rgb(12, 145, 235);
  border-radius: 5px;
  padding: 3px;
  margin-left: 10px;
}

.main-right__box__table__content__status__secondrow {
  color: red;
  text-decoration: underline;
}

.td-secondrow__edit {
  font-size: 10px;
}

.p12 a:first-of-type, .p12 a:last-of-type, .p12 .is-active{
  background-color: #59aef3;
  color: #fff;
  font-weight: bold;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.page {
  float: right;
}